<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add some userEntity</title>
</head>

<body>
<h2>Добавить нового пользователя</h2>
<div id="form">
    <form th:method="POST" th:action="@{/admin/add}" th:object="${user}">
        <label for="name">Пользователь: </label>
        <input required type="text" th:field="*{name}" id="name"><br><br>

        <label for="a_name">возраст: </label>
        <input type="text" th:field="*{age}" id="a_name"><br><br>

        <label for="l_name">логин: </label>
        <input type="text" th:field="*{email}" id="l_name"><br><br>

        <label for="pass">Пароль: </label>
        <input required type="text" th:field="*{password}" id="pass"><br><br>

        <br/>
        <br/>
        <select multiple size="2" name="listRoleId" required class="form-control form-control-sm">
            <option value="1">ROLE_ADMIN</option>
            <option selected="selected" value="2">ROLE_USER</option>
        </select>
        <br/>
        <br/>
        <input type="submit" value="Создать">
    </form>
</div>
</body>
</html>